@using MvcMagzaUrunTakip.Models.Entity
@model List<Tbl_Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.KategoriID</td>
            <td>@item.KategoriAd</td>
            <td>
                <a href="/Kategori/Sil/@item.KategoriID" class="btn btn-danger">Sil</a>
                <a href="/Kategori/Güncelle/@item.KategoriID" class="btn btn-success">Güncelle</a>
            </td>
        </tr>

    }
</table>
<a href="/Kategori/Yeni/" class="btn btn-primary">Yeni Kategori</a>

