
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Kategori Ekleme</h2>
    <br />
    <label>Kategori Ad</label>
    <input type="text" class="form-control" name="KategoriAd" />
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>